body {
}
.toright {
	text-align: right;
}
#SurvyPage {
    padding-left:5px;
}
fieldset{
    position:center;
    border-bottom-style:double;
    background-color:azure;
    border-bottom-width:thin;

}
legend{
    border-bottom-right-radius:15px;
    background-color:red;

}
table {
    position: center;
}
r